@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Skoruba.Duende.IdentityServer.STS.Identity.ViewModels.Account.LogoutViewModel

@section styles {
    <style type="text/css">
        .btn-return {
            transition: all 0.3s;
        }

            .btn-return:hover {
                transform: translateY(-2px);
            }
    </style>
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card border-0 text-center p-3">
        <div class="card-body">
            <h2 class="card-title mb-3">@Localizer["Title"]</h2>
            <p class="card-text text-muted mb-4">
                @Localizer["Message"]
            </p>

            <form asp-action="Logout">
                <div class="d-grid gap-2">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <fieldset>
                        <button class="btn btn-primary btn-return">@Localizer["Yes"]</button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div class="logout-container">
    <div class="page-header">
        <h1>@Localizer["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>@Localizer["Message"]</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">@Localizer["Yes"]</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div> *@