@model Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Shared.Dtos.Common.Search
@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.Admin.UI.Configuration.Constants
@inject IViewLocalizer Localizer

<form class="form-inline" asp-area="@CommonConsts.AdminUIArea" asp-controller="@Model.Controller" asp-action="@Model.Action" method="get">
	<div class="input-group">
		<input name="search" value="@ViewBag.Search" type="text" placeholder="@Localizer["InputSearchPlaceHolder"]" class="form-control" />
		<div class="input-group-append ml-1">
			<input type="submit" class="btn btn-primary" value="@Localizer["ButtonSearch"]" />
		</div>
	</div>
</form>